html, body{
	font-family:fantasy, monospace;
	margin: 0;
}

header{
	background-color: pink;
	padding: 40px;
	text-align: center;
}

h1{
	font-size: 90px;
	color: white;
	text-shadow: 0 5px 20px black;
	margin: 0;
	text-transform: uppercase;
}

header img{
	border-radius:150px;
	border:10px solid pink;
	box-shadow: 0 15px 20px black;

}

.content{
	max-width:900px;
	margin: 0 auto;
	padding: 0 20px;
}

h2{
	font-size: 40px;
	color: blackpink;
	margin-bottom: 0;
}

p{
	margin: 20px auto;
	max-width: 600px;
}

ol, ul{
	list-style: none;
	padding: 0;
	margin: 20px 40px;
	max-width: 600px;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	color: lightgrey;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: hotpink;
	text-decoration: none;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: lightpink;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline;
}